.radio {
    accent-color: black;
}


.radio::before {

}


.radio:checked::before {

}

.label {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
}

.options {
    margin-left: 127px;
    display: flex;
    flex-direction: column;
}
.span {
    padding-left: 11px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
